.HeaderBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10vh;
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #141414;
    border: 2px solid #f80000;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .userText {
    background-color: transparent;
    color: #f80000;
    padding: 1.5vh 2.9vh;
    text-decoration: none;
    font-size: 2.7vh;
    border: 0.2vh none;
    margin-right: 3vh;
  }
  
  .uploadText {
    background-color: transparent;
    color: #f80000;
    padding: 1.5vh 2.9vh;
    text-decoration: none;
    font-size: 2.7vh;
    border: 0.2vh none;
    margin-right: 3vh;
  }
  
  .NavBarBorder {
    border: 2px solid #f80000;
    background-color: #141414;
    width: 15vh;
    height: 40vh;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .HomeButton {
    background-color: transparent;
    color: #f80000;
    padding: 1.5vh 2.9vh;
    text-decoration: none;
    font-size: 2.7vh;
    border: 0.2vh none;
  }
  
  .menu-bars {
    margin-left: 2vh;
    font-size: 1vh;
    background: none;
  }
  
  .NavBarBorder {
    border: 2px solid #f80000;
    width: 15vh;
    height: 80vh;
    float: left;
  }
  
  .XButton {
    background-color: transparent;
    color: #f80000;
    padding: 1.5vh 3vh;
    text-align: center;
    text-decoration: none;
    font-size: 2vh;
    border: 0.2vh none #f80000;
    margin-top: 2vh;
  }
  
  .ToHomeButton {
    background-color: transparent;
    color: #f80000;
    padding: 1.5vh 8vh;
    text-align: center;
    text-decoration: none;
    font-size: 1.4vh;
    border: 0.2vh solid #f80000;
    margin-left: 1vh;
    margin-top: 2vh;
  }
  
  .ToMyChanel {
    background-color: transparent;
    color: #f80000;
    padding: 1.5vh 7vh;
    text-align: center;
    text-decoration: none;
    font-size: 1.4vh;
    border: 0.2vh solid #f80000;
    margin-left: 1vh;
    margin-top: 2vh;
  }
  
  .NavMenu {
    border: 2px solid #f80000;
    background-color: #141414;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 25vh;
    height: 95vh;
    position: fixed;
    -webkit-animation-name: tranlate-right;
            animation-name: tranlate-right;
    -webkit-animation-duration: 850ms;
            animation-duration: 850ms;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    z-index: 1;
    top: 0%;
  }
  
  .NavMenuActive {
    border: 2px solid #f80000;
    background-color: #141414;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 25vh;
    height: 95vh;
    position: fixed;
    -webkit-animation-name: tranlate-left;
            animation-name: tranlate-left;
    -webkit-animation-duration: 850ms;
            animation-duration: 850ms;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    z-index: 1;
    top: 0%;

  }
  
  @-webkit-keyframes tranlate-left {
    from {
      -webkit-transform: translateX(-300px);
              transform: translateX(-300px);
    }
    to {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  
  @keyframes tranlate-left {
    from {
      -webkit-transform: translateX(-300px);
              transform: translateX(-300px);
    }
    to {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  
  @-webkit-keyframes tranlate-right {
    to {
      -webkit-transform: translateX(-300px);
              transform: translateX(-300px);
    }
  }
  
  @keyframes tranlate-right {
    to {
      -webkit-transform: translateX(-300px);
              transform: translateX(-300px);
    }
  }
  /*# sourceMappingURL=NavBar.css.map */