.VideoPlayerBorder {
    display: flex;
    border: solid #353535 3px;
    margin-left: 4%;
    margin-top: 1%;
    width: 75rem;
    height: 47rem;
    flex-direction: column;
}

.VideoComponentContainer {
    display: flex;
    width: 100%;
    height: 90%;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    
}

.VideoComponent {
    margin-bottom: auto;
    height: 100%;
    width: 100%;
}

.VideoComponentContainer:hover .VideoControlsContainer {
    transform: translateY(0);
}


.VideoControlsContainer {
    display: flex;
    position: absolute;
    flex-direction: column;
    bottom: 0;
    width: 100%;
    flex-wrap: wrap;
    background: rgba(24, 24, 24, 0.575);
    height: 5rem;
    transform: translateY(100%) translateY(-5px);
    transition: all 0.2s
}

.PlayBarProgress {
    position: relative;
    display: flex;
    width: 100%;
    height: .5rem;
    transition: .3s;
    background: rgba(0, 0, 0, 0.76);
}

.PlayBarProgressFill {
    background-color: red;
}

.VideoControls {
    display: flex;
    height: 90%;
}

.PlayButton {
    cursor: pointer;
    width: 2rem;

    align-self: center;
    margin-left: 1rem;
}

.VideoTime {
    align-self: center;
    margin-left: auto;
    margin-right: 1rem;
    color: white;
    font-family: "Exo 2";
}

.Volume {
    display: flex;
    margin-left: 2rem;
}

.VolumeBar {
    align-self: center;
    height: .5em;
    -webkit-appearance: none;
    width: 100%;
    background: rgba(0, 0, 0, 0.76);

}

.VolumeBar:focus {
    outline: none;
}

.VolumeBar::-webkit-slider-thumb {
    height: 1em;
    width: 1em;
    border-radius: 5px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
}

.MuteButton {
    cursor: pointer;
    width: 2rem;
    align-self: center;
    margin-right: 1rem;
}

.FullScreenButton {
    cursor: pointer;
    width: 2rem;
    align-self: center;
    margin-right: 1rem;
}

.PlayerFooterCntainer {
    display: flex;
    background-color: #3d3d3d;
    height: 10%;
}

.ProfilePicture {
    width: 3em;
    align-self: center;
    background-color: transparent;
    border: transparent;
    outline: none;
    cursor: pointer;
}

.ChanelStatsContainer {
    display: flex;
    margin-left: 2.5rem;
}

.ChanelStats {
    align-self: center;
    margin-left: 1.5em;
    flex-direction: column;
}

.AccountNameText {
    color: #E40000;
    font-family: "exo 2";
    font-size: 1rem;
    margin: auto;
    align-self: center;
}

.ChanelStatsBar {
    width: 6rem;
    margin: auto;

}

.AccountFolowersText {
    color: #E40000;
    font-family: "exo 2";
    font-size: 1rem;
    margin: auto;
}

.VideoTitleText {
    align-self: center;
    color: #E40000;
    font-family: "exo 2";
    font-size: 1.5rem;
    margin-left: 13em;
}

.Fireicon {
    width: 1.5em;
    align-self: center;
    margin-left: auto;
    margin-right: 1em;
    cursor: pointer;

}

.VideoFiresText {
    align-self: center;
    color: #E40000;
    font-family: "exo 2";
    font-size: 1.5rem;
    margin-right: 2em;

}

@media (min-width: 1100px) and (max-width: 1600px) {

    .VideoPlayerBorder {
        margin-left: 2%;
        width: 65rem;
        height: 40.77rem;
        flex-direction: column;
    }
}

@media (min-width: 800px) and (max-width: 1100px) {
    .VideoPlayerBorder {
        margin-left: 0%;
        width: 40rem;
        height: 40.77rem;
        flex-direction: column;
    }
}


@media (max-width: 830px) {
    .VideoPlayerBorder {
        margin-left: 0%;
        width: 100%;
        height: 18rem;
        flex-direction: column;
    }


    .VideoComponentContainer {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        position: relative;
    }
    
    .VideoControlsContainer {
        display: none;
        bottom: 0;
        width: 100%;
        flex-wrap: wrap;
        background: rgba(24, 24, 24, 0.575);
        height: 5rem;
        transform: translateY(100%) translateY(-2px);
        transition: all 0.2s;
    }

    .PlayerFooterCntainer {
        display: flex;
        background-color: #3d3d3d;
        height: 20%;
        margin-top: auto;
    }
    
    .ProfilePicture {
        align-self: center;
        background-color: transparent;
        border: transparent;
        outline: none;
        cursor: pointer;
        width: 1.5em;
    }
    
    .ChanelStatsContainer {
        display: flex;
        margin-left: 1rem;
    }
    
    .ChanelStats {
        align-self: center;
        margin-left: .5em;
        flex-direction: column;
    }
    
    .AccountNameText {
        color: #E40000;
        font-family: "exo 2";
        font-size: .5rem;
        margin: auto;
        align-self: center;
    }
    
    .ChanelStatsBar {
        width: 3rem;
        margin: auto;
    
    }
    
    .AccountFolowersText {
        color: #E40000;
        font-family: "exo 2";
        font-size: .5rem;
        margin: auto;
    }
    
    .VideoTitleText {
        align-self: center;
        color: #E40000;
        font-family: "exo 2";
        font-size: 1rem;
        margin-left: 3em;
    }
    
    .Fireicon {
        width: 1em;
        align-self: center;
        margin-left: auto;
        margin-right: 1em;
        cursor: pointer;
    
    }
    
    .VideoFiresText {
        align-self: center;
        color: #E40000;
        font-family: "exo 2";
        font-size: 1rem;
        margin-right: 2em;
    
    }
}