.container{
    display: flex;
    flex:1;
    align-items: center;
    flex-direction: column;
    margin-top: 1.5rem;

}

.ChangePwdCard{
    display: flex;
    flex-direction: column;
    background-color: #3f3f3f;
    width: 35rem;
    height: 70vh;
}

.ChangePwdText{
    align-self: center;
    color: #E40000;
    font-size: 1.2rem;
    font-family: "Exo 2 bold";
}

.Bar{
    width: 80%;
}

/* Invalid Link */

.InvalidLink{
    align-self: center;
    color: #E40000;
    font-size: 2rem;
    font-family: "Exo 2 bold";
}

/* PasswordPart */

.EmailPart{
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 80%;
    margin-top: 1.5rem;

}

.EmailText{
    color: #E40000;
    font-size: 1.2rem;
    font-family: "Exo 2";
}


.EmailTextInput{
    height: 1.5rem;
    background-color: #555555;
    border: none;
    color: #FFFFFF;
}


/* card footer */

.BottomBar{
    width: 80%;
    margin-top: auto;
}

.FooterCardContainer{
    display: flex;
    flex-direction: column;

}

.LogInButton{
    margin: auto;
    margin-bottom: 2%;
    color: #E40000;
    background-color: transparent;
    border: transparent;
    outline: none;
    cursor: pointer;
    font-size: 1rem;

}

.ToLoginLink{
    margin: auto;
    font-family: "Exo 2";
    color: #E40000;
    margin-bottom: 5%;
}

@media (max-width: 700px) {
    .LoginCard{
        width: 22rem;
        height: 30rem;

    }
}